name: Build Meraki ipq40xx Images

on: workflow_dispatch

jobs:
    build:
        name: Build Meraki ipq40xx Images
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - name: Install packages
              run: |
                  sudo apt-get update && \
                  sudo apt-get install -y \
                      build-essential \
                      clang \
                      flex \
                      bison \
                      g++ \
                      gawk \
                      gcc-multilib \
                      g++-multilib \
                      gettext \
                      git \
                      libncurses-dev \
                      libssl-dev \
                      python3-setuptools \
                      rsync \
                      unzip \
                      zlib1g-dev \
                      file \
                      wget && \
                  sudo apt-get clean
            - name: Checkout
              uses: actions/checkout@v4
              with:
                ref: ${{ github.event.ref }}

            - name: Update feeds
              run:  scripts/feeds update -a && scripts/feeds install -a

            - name: Generate config
              run:  sh genconfig-ipq40xx.sh

            - name: Build firmware images
              run: make -j$(($(nproc)+1)) world

            - name: Get SHA
              uses: benjlevesque/short-sha@v2.2

            - name: Release
              uses: ncipollo/release-action@v1
              with:
                tag: meraki-${{ env.SHA }}
                commit: ${{ github.event.ref }}
                allowUpdates: true
                artifacts: bin/targets/ipq40xx/generic/openwrt*-ipq40xx-generic-meraki_*

